# ==============================
# Large datasets
# ==============================
*.csv
*.xlsx
*.parquet

# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# ==============================
# Virtual environments
# ==============================
.venv/
venv/
env/

# ==============================
# Spark temporary files
# ==============================
spark-temp/
.sparkStaging/
metastore_db/
derby.log

# ==============================
# MongoDB local data
# ==============================
mongodb-data/
MongoDB/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# IDE / Windows
# ==============================
.vscode/
.idea/
Thumbs.db
.DS_Store
